body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: 0.5s;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
background-color: black;
color: white;
}
.content
{
    margin: 100px auto;
    width: 1000px;
}
.content h1
{
    margin: 0 0 20px;
    padding: 0;
    transition: 0.5s;
}
.content p
{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-size: 18px;
}

  .btn{
    margin: 50px 0 0 700px;
    padding: 0;
    text-align: center;
  }
body.night .content h1,
body.night .content p
{
    color: #fff;
}
